## REST API Libs
fastapi
uvicorn
python-multipart

## Data validation
pydantic
pydantic-settings

## Generative Model
ollama ## Ollama - Local

## SQLAlchemy Lib
sqlalchemy

## Postgres DataBase
psycopg2-binary # Driver

## MySQL DataBase - TODO
# PyMySQL # Driver
# cryptography # Resources 

## TESTS LIBS ##

## Environment
python-dotenv

## Request HTTP
requests
